<?xml version="1.0" encoding="UTF-8"?>
<!--  deployment descriptor details specific end-points (URLs) for clients to access resources. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>ExpenseServlet</servlet-name>
    <url-pattern>/expense</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpenseServlet</servlet-name>
    <servlet-class>com.expense.web.ExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevUserPostServlet</servlet-name>
    <url-pattern>/revUserPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevUserPostServlet</servlet-name>
    <servlet-class>com.expense.web.RevUserPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestParametersServlet</servlet-name>
    <servlet-class>com.expense.web.RequestParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParametersServlet</servlet-name>
    <url-pattern>/parameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllUsersServlet</servlet-name>
    <servlet-class>com.expense.web.AllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUsersServlet</servlet-name>
    <url-pattern>/AllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.expense.web.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestHelper</servlet-name>
    <servlet-class>com.expense.web.RequestHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHelper</servlet-name>
    <url-pattern>/request-helper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevUserServlet</servlet-name>
    <servlet-class>com.expense.web.RevUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevUserServlet</servlet-name>
    <url-pattern>/RevUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReimbursementTicket</display-name>
    <servlet-name>ReimbursementTicket</servlet-name>
    <servlet-class>com.expense.web.ReimbursementTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementTicket</servlet-name>
    <url-pattern>/ReimbursementTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TicketStatus</display-name>
    <servlet-name>TicketStatus</servlet-name>
    <servlet-class>com.expense.web.TicketStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketStatus</servlet-name>
    <url-pattern>/TicketStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Cookies</display-name>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>com.expense.web.Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateCookies</display-name>
    <servlet-name>InvalidateCookies</servlet-name>
    <servlet-class>com.expense.web.InvalidateCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateCookies</servlet-name>
    <url-pattern>/InvalidateCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionManagement</display-name>
    <servlet-name>HttpSessionManagement</servlet-name>
    <servlet-class>com.expense.web.HttpSessionManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionManagement</servlet-name>
    <url-pattern>/HttpSessionManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateSession</display-name>
    <servlet-name>InvalidateSession</servlet-name>
    <servlet-class>com.expense.web.InvalidateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateSession</servlet-name>
    <url-pattern>/InvalidateSession</url-pattern>
  </servlet-mapping>
</web-app>